*

!*.yaml
!.gitignore
!*.md
!*.yml



!*/
!/config_files/**
!/maintenance_scripts/**
!/automations/**

.storage
.cloud
.google.token

ip_bans.yaml
secrets.yaml
known_devices.yaml
ryan_home.jpg
ryan_away.jpg
www/snapshots/*.jpg
*.pyc
/lib
